h1{
    color: black;
    font-family: verdana;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    font-size: 200%;
}

body{
  align-content: center;
  align-items: center;
  text-align: center;
}

.body1{
  
  background-color: rgba(131, 92, 20, 0.699); 
  height: 100vh; 
  margin: 0; 
  display: flex; 
  justify-content: center;
  align-items: center; 
}

  .square1{
     
    height: 750px;
    width: 1000px;
    border-radius: 3%;
    background-image: url(dogspa.png);
    padding: 0px 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
     
    
    
  }

  .square2{
    width: 400px; 
    height: 400px;
    border-radius: 3%;
    padding: 10px 30px 10px 10px;
    align-content: center;
    background-color: #b7bcc13f; 
    
    
  }

  .clickhere{
    text-decoration: none;
  }

  .login{
    text-decoration: none;
  }

  .button1{
    font-size: large;
    background-color: rgb(243, 238, 238);
    font
  }


  